.responsive-two-column-grid {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
}

.responsive-two-column-grid > * {
    padding: 1rem;
}

.image_content {
    padding: 10px;
    text-align: center;
}

.caption {
    font-style: italic;
    margin-top: 2px;
    color:#444;
    font-family: 'Inter', sans-serif;
    font-size: 100%;
}

.text_content {
    text-align: justify;
    padding: 10px;
}

.text_content p {
    font-size: 16px;
}

details p {
    font-size: 18px;
}

/* Design for full-sized window */
@media (min-width: 768px) {
    .responsive-two-column-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .responsive-two-column-grid .text_content p {
        font-size: 18px;
    }
}

/* Design for larger screens */
@media (min-width: 1250px) {
    .responsive-two-column-grid .text_content p {
        font-size: 20px;
    }
}