.index_div {
    height: 1000px;
}

.research_div {
    height: 2000px;
}

.tools_div {
    height: 850px;
}

.contact_div {
    height: 1000px;
}

.square_image {
    width: 50vw; /*50% */
}
.stim_diagram {
    width: 75vw; /*75%;*/
}
.caption {
    font-size: 100%;
}
.press_list {
    padding-inline-start:4%;
}

/* Smartphones (portrait) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    html {color:crimson}
    .index_div {
        height: auto;
    }
    p {
        font-size: 1rem;
    }
    footer {
    	padding: 2vw 2em;
        font-size: 0.75rem;
    }
    .nav {
        height: 50px;
    }
    .nav div.logo a {
        font-size: 3rem;
    }
    .square_image {
        width: 40vw; /*80%;*/
    }
    .stim_diagram {
        width: 42.5vw; /*85vw;*/
    }
    .caption {
        font-size: 80%;
    }
    .press_list {
        padding-inline-start: 8%;
        font-size: 95%;
    }
}

/* Ipad (portrait and landscape) */
/* This is where two columns are enforced in dualgrid.css */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    html {color: blue;}

    .index_div {
        height: 1300px;
    }

    .tools_div {
        height: 1000px;
    }

    .research_div {
        height: 1400px;
    }

}

/* Desktops and laptops */
@media only screen and (min-width: 1224px) {
    html {color:blueviolet}
    .index_div {
        height: 1100px;
    }
    .contact_div {
        height: 74vh;
    }
}

@media (min-width: 1250px) {
    html {color:darkslateblue}
    .index_div {
        height: 1000px;
    }
    .research_div {
        height: 1550px;
    }
    .stim_diagram {
        width: 42.5vw; /*85%;*/
    }
    .square_image {
        width: 25vw; /*60%;*/
    }
    .press_list {
        padding-inline-start: 2%;
    }
}

@media (min-width: 1750px) {
    html {color:darkcyan}
    .index_div {
        height: 850px;
    }
    .research_div {
        height: 1800px;
    }
    .stim_diagram {
        width: 65vw;
    }

    .square_image {
        width: 50vw;
    }
    .press_list {
        padding-inline-start: 2%;
    }
}

/* Comment out to debug viewports */
html {color: black;}