.index_div {
    height: 1000px;
}

.short_page_div {
    height: 1000px;
}

.square_image {
    width: 50vw; /*50% */
}
.stim_diagram {
    width: 75vw; /*75%;*/
}
.caption {
    font-size: 100%;
}
.press_list {
    padding-inline-start:4%;
}
.text_content p {
    font-size: 1rem;
}

/* Google map scaling */
@media only screen and (max-width: 575px) {
    .google_map {
        width: 85vw;
    }
}

/* Smartphones (portrait) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    html {color:crimson}
    .index_div {
        height: auto;
    }
    p {
        font-size: 1rem;
    }
    details > summary {
        font-size: 1.5rem;
    }
    footer {
    	padding: 2vw 2em;
        font-size: 0.75rem;
    }
    .nav {
        height: 50px;
    }
    .myH1 {
        font-size: 2.5rem;
    }
    .myH2 {
        font-size: 2rem;
    }

    .square_image {
        width: 80vw; /*80%;*/
    }
    .stim_diagram {
        width: 85vw; /*85vw;*/
    }
    .caption {
        font-size: 80%;
    }
    .press_list {
        padding-inline-start: 8%;
        font-size: 95%;
    }

    .nav div.logo a {
        font-size: 2rem;
    }

    .nav div.main_list ul li a {
        font-size: 2rem;
    }
}

/* Ipad (portrait and landscape) */
/* This is where two columns are enforced in dualgrid.css */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    html {color: blue;}

    .index_div {
        height: 1300px;
    }

    .nav div.logo a {
        font-size: 2.5rem;
    }

    .nav div.main_list ul li a {
        font-size: 1.5rem;
    }
}

/* Desktops and laptops */
@media only screen and (min-width: 1224px) {
    html {color:blueviolet}
    .index_div {
        height: 1100px;
    }
    .short_page_div {
        height: 75vh;
    }
}

@media (min-width: 1250px) {
    html {color:darkslateblue}
    .index_div {
        height: 1000px;
    }
    .stim_diagram {
        width: 525px;
    }
    .square_image {
        width: 325px;
    }
    .press_list {
        padding-inline-start: 2%;
    }
}

@media (min-width: 1500px) {
    html {color:darkorange;}
    .stim_diagram {
        width: 550px;
    }
    .square_image {
        width: 325px;
    }
}

@media (min-width: 1750px) {
    html {color:darkcyan}
    .index_div {
        height: 850px;
    }
    .text_content p {
        font-size: 20px;
    }
    .press_list {
        padding-inline-start: 2%;
    }
}

/* Comment out to debug viewports */
html {color: black;}